.menuOption {
    border: 1px solid #01BAEF;
    height: fit-content;
}

.menuSubOption {
    border-top: #01BAEF;
    border-bottom: #01BAEF;
}

.menuOption:hover{
    background-color: #01BAEF;
    color: #0B4F6C;
    border: 1px solid #0B4F6C;
}

.menuSubOption:hover {
    background-color: #01BAEF;
    color: #0B4F6C;
    border: 1px solid #0B4F6C;

}

.deselected {
    height: 0px;
}
.selected {
    height: fit-content;
}