
.menuBarBorders{
    border-left: 1px solid #01BAEF;
    border-top: 1px solid #01BAEF;
}

.menuOption {
    border-right: 1px solid #01BAEF;
    height: fit-content;
}

.menuSubOption {
    border-bottom: #01BAEF;
    text-align:center !important;
}

.menuOption:hover{
    background-color: #01BAEF;
    color: #0B4F6C;
}

.menuSubOption:hover {
    background-color: #01BAEF;
    color: #0B4F6C;

}

.deselected {
    height: 0px;
}
.selected {
    height: fit-content;
}